{{> breadcrumbs includeSelf=1 }}
<h1><span class="divinityIcon large {{ type }}"></span> {{ title }}</h1>

<h2 class="divinitySection">Signatures</h2>
<div class="divinitySignatutes">
  {{#each signatures}}
  <div class="divinitySignatutes--item">
    <span class="mtk12">{{~ name ~}}</span>(
    {{#if parameters}}
      {{~#each parameters~}}<br/>&nbsp;&nbsp;
        {{~#if flow}}[{{ flow }}]{{/if~}}
        {{~#if type}}<span class="mtk11">({{ type }})</span>{{/if~}}
        <span class="mtk13">{{~ name ~}}</span>
        {{~#if @last}}{{else}}, {{/if~}}
      {{~/each~}}<br />
    {{/if}})
  </div>
  {{/each}} 
</div>

{{#if wiki}}
  {{#if wiki.error}}
    <h2 class="divinitySection">Documentation</h2>
    <p>The Wiki could not be reached or returned an error.</p>
  {{/if}}
  {{#if wiki.notFound}}
    <h2 class="divinitySection">Documentation</h2>
    <p>There is no documentation available for this definition.</p>
  {{/if}}
  {{#if wiki.content}}
    {{{ wiki.content }}}
  {{/if}}
{{/if}}

{{#if enumerations}}
  <h2>Enumerations</h2>
  <ul>
  {{#each enumerations}}
    <li>
      <p>
        <strong>{{name}}</strong>
        {{~#if fixed}}{{else}} (dynamic){{/if}}
        {{~#if description}}: {{description}}{{/if}}
      </p>
      {{#if values}}
        <table class="divinityEnumTable">
          <thead>
            <tr>
              <th>Value</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {{#each values}}
              <tr>
                <td>{{value}}</td>
                <td>{{label}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        <p><i>No values found for this enumeration.</i></p>
      {{/if}}
    </li>
  {{/each}} 
  </ul>
{{/if}}

{{#if wiki}}
  {{#if wiki.editLink}}
    {{#if wiki.notFound}}
      <p><a href="{{ wiki.editLink }}">Create this page</a></p>
      <details>
        <summary>Template for this definition</summary>
        <pre>{{> wiki-template}}</pre>
      </details>
    {{else}}
      <p><a href="{{ wiki.editLink }}">Edit this page</a></p>
    {{/if}}
  {{/if}}
{{/if}}

<h2 class="divinitySection">See also</h2>
{{#if wiki}}
  {{#if wiki.externalLinks}}
    <p><strong>External links</strong></p>
    <div class="divinityCompactList">
      {{#each wiki.externalLinks}}
      <div class="divinityCompactList--item">
        <a class="divinityLink" href="{{ url }}">
          <span class="divinitySymbolName">{{ caption }}</span>
        </a>
      </div>
      {{/each}}
    </div>  
  {{/if}}
{{/if}}
{{> definitions}}
